@page "/newcar"
@using Lab3
@using System.Text.Json
@using LabProjekt
@using System.Text.Json.Serialization
@using System.Drawing
@rendermode InteractiveServer








<form method="post" @onsubmit="Submit" @formname="starship-plain-form">
    <AntiforgeryToken />
    <div>
        <label>GemName</label>
        <InputText @bind-Value="GemName" />
    </div>
    <div>
        <label>Hardness</label>
        <InputNumber @bind-Value="Hardness" />
    </div>
    <div>
        <label>Color</label>
        <InputText @bind-Value="Color" />
    </div>
    <div>
        <label>Chemical Makeup</label>
        <InputText @bind-Value="ChemicalMakeup" />
    </div>
    <div>
        <label>Gem Preciousness</label>
        <InputSelect @bind-Value="@GemPreciousness">
            <option value="@GemCategory_Preciousness.Precious">Precious</option>
            <option value="@GemCategory_Preciousness.SemiPrecious">Semi-Precious</option>
        </InputSelect>
    </div>
   
    <div>
        <button type="submit">Submit</button>

    </div>
</form>

@code {
    // [SupplyParameterFromForm]
    //  private Car? Model { get; set; }
    // int year;
    // double capacity;
    // string model = "";
    // protected override void OnInitialized() => Model ??= new();
    double Hardness;
    string Color = "";
    string ChemicalMakeup = "";
    string GemName = "";
   
    GemCategory_Preciousness GemPreciousness;
    private static string Gems_InorganicJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Inorganic.json")); //possibly not needed
    private static JsonSerializerOptions options = new JsonSerializerOptions
    {
        Converters = { new JsonStringEnumConverter() }
    };

    //static Color myRgbColor = System.Drawing.Color.FromArgb(1, 1, 1, 1);

    

    private void Submit()
    {/**/
        InorganicGem_Type inorganicGemCategory = new InorganicGem_Type(Color, ChemicalMakeup, Hardness, GemName, GemPreciousness);
        List<InorganicGem_Type> Gems_InorganicList = JsonSerializer.Deserialize<List<InorganicGem_Type>>(Gems_InorganicJson = File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Inorganic.json")), options);
        Gems_InorganicList.Add(inorganicGemCategory);
        File.WriteAllText(Path.Combine(Directory.GetCurrentDirectory(), "Gems_Inorganic.json"), JsonSerializer.Serialize(Gems_InorganicList));

       // Car car = new Car(capacity, model, year);
       // List<Car> carList = JsonSerializer.Deserialize<List<Car>>(File.ReadAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json")));
       // carList.Add(car);
       // File.WriteAllText(Path.Combine(Directory.GetCurrentDirectory(), "cars.json"), JsonSerializer.Serialize(carList));

    }



}