<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Magazyn Kamieni Szlachetnych</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gemcat_io">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inorganic_Gemstone_Categories
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="geminst_io">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inorganic_Gemstones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gem_o_amber">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gemstones_Ambers
            </NavLink>
        </div>
      
    </nav>
</div>

